.env
.rvmrc
.ruby-version

.idea
db/schema.rb
/.bundle
/vendor/bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/spec/tmp

public/system
public/assets
public/uploads

.DS_Store
.passenger
rerun.txt

*.rbc
*.tmp
*.log
*.zip
*.tar
*.pyc
*.csv
*.tar
*.gz
*.orig
*.tags*

.#*
*.#
*.#*
capybara-*.html
pickle-email-*.html
/public/packs
/public/packs-test
yarn-debug.log*
node_modules/
node_modules/*
node_modules/.yarn-integrity
!/node_modules/.yarn-integrity
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity

.java-version
